#boot{

    justify-content:flex-start;
    align-items:flex-start;

    padding:50px;

    background:#020407;

}

#terminal{

    font-family:"JetBrains Mono",monospace;

    color:#8ffcff;

    font-size:22px;

    line-height:1.8;

}

#terminal p{

    opacity:0;

    animation:fadeLine .25s forwards;

}

@keyframes fadeLine{

    from{

        opacity:0;
        transform:translateY(8px);

    }

    to{

        opacity:1;
        transform:translateY(0);

    }

}