#boot{

    justify-content:flex-start;
    align-items:flex-start;

    padding:50px;

    background:#020407;

}

#terminal{

    font-family:"JetBrains Mono",monospace;

    color:#8ffcff;

    font-size:22px;

    line-height:1.8;

}

#terminal p{

    opacity:0;

    animation:fadeLine .25s forwards;

}

@keyframes fadeLine{

    from{

        opacity:0;
        transform:translateY(8px);

    }

    to{

        opacity:1;
        transform:translateY(0);

    }

}
#terminal{

    width:100%;
    height:100%;

    overflow-y:auto;

    font-family:"JetBrains Mono",monospace;

    font-size:21px;

    line-height:1.8;

    color:#d8ecff;

}

.terminal-ok{

    color:#4fd7ff;

}

.terminal-warn{

    color:#ffd74f;

}

.terminal-error{

    color:#ff5c5c;

}

.terminal-cursor{

    display:inline-block;

    animation:blink .9s infinite;

}

@keyframes blink{

    50%{

        opacity:0;

    }

}