*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root{

    --bg:#05070c;

    --panel:#101722;

    --primary:#35c6ff;

    --text:#f5fbff;

    --sub:#91a5bc;

}

html,
body{

    width:100%;
    height:100%;
    overflow:hidden;
    background:var(--bg);
    color:var(--text);
    font-family:Inter,sans-serif;

}

#app::before{

    content:"";
    position:absolute;
    inset:0;
    pointer-events:none;
    z-index:0;
    opacity:.22;

    background-image:
        linear-gradient(rgba(80,180,255,.08) 1px, transparent 1px),
        linear-gradient(90deg, rgba(80,180,255,.08) 1px, transparent 1px);

    background-size:64px 64px;

    animation:gridMove 35s linear infinite;

}

@keyframes gridMove{

    from{
        transform:translateY(0);
    }

    to{
        transform:translateY(64px);
    }

}

#app{
    width:100vw;
    height:100vh;
    position:relative;
}

#app::after{
    content:"";
    position:absolute;
    inset:0;
    pointer-events:none;
    z-index:1;
    opacity:.06;

    background:
        repeating-linear-gradient(
            to bottom,
            transparent 0px,
            transparent 3px,
            rgba(255,255,255,.35) 4px
        );

    animation:scanMove 7s linear infinite;
}

@keyframes scanMove{
    from{
        transform:translateY(-100%);
    }

    to{
        transform:translateY(100%);
    }
}

.scene{

    position:absolute;

    top:0;
    left:0;

    width:100%;
    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

}

.hidden{

    display:none;

}

#screenFlash{

    position:fixed;

    inset:0;

    background:white;

    opacity:0;

    pointer-events:none;

    z-index:999999;

}

.glitch{

    animation:glitchAnimation .35s linear;

}

@keyframes glitchAnimation{

    0%{

        transform:translate(0);

        filter:hue-rotate(0deg);

    }

    20%{

        transform:translate(-2px,2px);

        filter:hue-rotate(90deg);

    }

    40%{

        transform:translate(2px,-2px);

        filter:hue-rotate(-90deg);

    }

    60%{

        transform:translate(-1px,1px);

    }

    80%{

        transform:translate(1px,-1px);

    }

    100%{

        transform:translate(0);

        filter:hue-rotate(0deg);

    }

}

html{

    font-size:clamp(13px,0.9vw,16px);

}

html {
    overflow-y: scroll;
}

body {
    overflow-x: hidden;
}

html {
    scrollbar-gutter: stable;
}